@font-face {
	font-family: 'nunito-extrabold';
	src: url('../fonts/NunitoSans_7pt-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'nunito-bold';
	src: url('../fonts/NunitoSans_7pt-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'nunito-semibold';
	src: url('../fonts/NunitoSans_7pt-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'nunito-regular';
	src: url('../fonts/NunitoSans_7pt-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'nunito-light';
	src: url('../fonts/NunitoSans_7pt-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'next-art-bold';
	src: url('../fonts/NEXT_ART_Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

button {
	background: transparent;
	outline: none;
	border: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	width: 365px;
	padding: 0 10px;
	align-self: center;
	margin: 0 auto;
}

.header {
	background-image: url('../images/bg_header_mobile.png');
	background-position: center center;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 20px 0 50px;
}

.header-area {
	display: flex;
	justify-content: space-between;

}

.logo {}

.logo-img {}

.burger {}

.burger-img {}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header__title {
	margin-top: 234px;
	color: #FDFDFD;
	font-family: next-art-bold;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.search {
	margin-top: 32px;
}

.select-field {
	display: none;
}

.search__button {
	font-family: nunito-bold;
	font-weight: 700;
	padding: 16px 36px;
	border-radius: 4px;
	background: #FDFDFD;
	color: #1A3E3E;
}

/* -----------------------main------------------------ */
/* ----------------------about------------------------ */

.main {
	padding-top: 50px;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-bottom: 50px;
}

.about-box {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main-category {
	color: #F2BE22;
	font-family: nunito-regular;
	font-size: 16px;
}

.about__category {
	margin-bottom: -16px;
}

.main-title {
	color: #18121E;
	font-family: nunito-extrabold;
	font-size: 24px;
}

.main-text {
	color: #18121E;
	font-family: nunito-regular;
	font-size: 16px;
	line-height: 1.5;
}

.main-button {
	display: block;
	padding: 12px 24px;
	border-radius: 4px;
	background: #1A3E3E;
	color: #FDFDFD;
	font-family: nunito-semibold;
	font-size: 16px;
	letter-spacing: 0.192px;
	align-self: center;
}

.about-video {
	margin-top: 40px;

}

.about-video>video {
	border-radius: 32px;
}

/* -----------------------------offer------------------------ */

.offer {
	padding: 50px 0 50px;
	background: #F3F5F4;
	width: 100%;
}

.offer-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.offer__category {
	margin-bottom: -24px;
}

.offer-condition {
	display: flex;
	align-items: flex-start;
	gap: 10%
}

.condition__icon {
	width: 10%;
}

.condition__text {}

.condition__title {
	color: #18121E;
	font-family: nunito-bold;
	font-size: 18px;
	letter-spacing: 0.216px;
}

.condition__description {
	color: #000;
	font-family: nunito-regular;
	font-size: 14px;
	width: 100%;
	line-height: 1.42;
}

.offer__button {}

.main-button {}

.offer-image-list {
	display: none;
}

.offer-image-list__item {}

.offer-image-list__link {}

/* ------------------------------trends -------------------------------- */
.trends {
	padding: 50px 0 50px;
}

.trends__category {
	margin-bottom: 8px;
}

.trends__title {
	margin-bottom: 32px;
}

.trend {
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 512px;
	position: relative;
}

.trend_1 {
	background-image: url('../images/trend-1.png');

}

.trend_2 {
	display: none;
}

.trend_3 {
	display: none;
}

.trend-link {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	inset: 0 0 0 0;
	padding: 37px 0 27px;
	width: 100%;
}

.trend-rating {
	display: flex;
	align-items: center;
	align-self: self-end;
	gap: 10px;
	padding: 4px 8px;
	border-radius: 4px 0 0 4px;
	background: rgba(253, 253, 253, 0.40);
	backdrop-filter: blur(2px);


}

.trend-rating__icon {}

.trend-rating__number {
	color: #1A3E3E;
	font-family: nunito-bold;
	font-size: 14px;
}

.trend-description {}

.trend-description__text {
	color: #FDFDFD;
	font-family: nunito-regular;
	font-size: 14px;
	width: 100%;
	line-height: 1.42;
	display: none;
}

.trend-name-price {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 0px 0px 32px 32px;
	background: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(3px);
	padding: 24px;
}

.trend-name-price__title {
	color: #FDFDFD;
	font-family: nunito-bold;
	font-size: 18px;
}

.trend-name-price__button {
	color: #FDFDFD;
	font-family: nunito-bold;
	font-size: 16px;
	padding: 6px 12px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.30);
}

.trend__button {
	margin: 32px auto 0;
}

/* ------------------------------blog------------------------ */

.blog {
	padding: 50px 0;
	background-color: #F3F5F4;
}

.blog__category {}

.blog__title {
	margin-bottom: 32px;

}

.blog-cards {}

.blog-card {
	margin: auto;
	/* width: 85%; */
}

.blog-card:not(:first-child) {
	display: none;
}

.blog-card__image {
	text-align: center;
}

.blog-card__image>img {
	width: calc(100% - 32px);
	padding: 0 16px;
}

.blog-card-text {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.blog-card__title {
	color: #18121E;
	font-family: nunito-bold;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3;
}

.blog-card__description {
	overflow: hidden;
	color: #18121E;
	text-overflow: ellipsis;
	font-family: nunito-regular;
	font-size: 14px;
	line-height: 1.42;
}

.blog-card-date-continue {
	display: flex;
	justify-content: space-between;
}

.blog-card__date {
	color: #F2BE22;
	font-family: nunito-regular;
	font-size: 14px;
	line-height: 1.42;
}

.blog-card__link {
	color: #1A3E3E;
	font-family: nunito-bold;
	font-size: 14px;
	line-height: 1.42;
}

.blog__button {
	margin: 32px auto 0;
}

/* ----------------------------gallery---------------------------- */

.gallery {
	padding: 50px 0 50px;
}

.gallery__category {
	margin-bottom: 8px;
}

.gallery__title {
	margin-bottom: 32px;
}

.gallery-list {
	list-style-type: none;
}

.gallery-list__item {}

.gallery-list__item:not(:first-child) {
	display: none;
}

.gallery-list__link {}

.gallery-list__image {
	width: 100%;
}

.gallery__button {
	margin: 32px auto 0;
}

/* -------------------------subscribe------------------------- */

.subscribe {
	padding-bottom: 50px;
}

.subscribe-box {
	padding: 24px;
	border-radius: 6px;
	background: #FDFDFD;
	box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
}

.subscribe__category {
	margin-bottom: 8px;
}

.subscribe__title {
	margin-bottom: 18px;
}

.subscribe-form {
	box-sizing: border-box;
	width: 100%;
	display: block;
}

.subscribe__field {
	display: block;
	width: calc(100% - 16px);
	padding: 16px 0 16px 12px;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #F3F5F4;
	margin: 8px 0 16px;
}

.subscribe__button {
	margin-bottom: 24px;
}


.subscribe__conditions {
	color: #18121E;
	font-family: nunito-semibold;
	font-size: 14px;
	line-height: 1.28;
}

.conditions {
	text-decoration: underline;
}

/* -----------------footer---------------- */
/* --------------------contacts------------------------ */
.footer {}

.lists {
	background-color: #1A3E3E;
	padding: 50px 0 80px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.contacts {
	margin-bottom: 50px;
}

.contacts__title {
	margin-bottom: 17px;
}

.footer-title {
	color: #F3F5F4;
	font-family: nunito-bold;
	font-size: 20px;
}

.contacts__text {
	color: #FFF;
	font-family: nunito-regular;
	font-size: 14px;
	line-height: 1.42;
	margin-bottom: 30px;
}

.contacts-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.contacts-list__item {
	list-style-type: none;
}

.contacts-list__link {
	color: #FFF;
	font-family: nunito-bold;
	font-size: 14px;
}

.social-media-list {
	display: flex;
	gap: 16px;

}

.social-media-list__item {
	list-style-type: none;
}

.social-media-list__link {}

.services {}

.services__title {
	margin-bottom: 20px;
}

.services-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.services-list__item {
	padding-left: 18px;
	list-style-type: none;
	position: relative;
}

.services-list__item::before {
	content: '';
	position: absolute;
	background-image: url('../svg/list-style.svg');
	background-repeat: no-repeat;
	width: 10px;
	height: 16px;
	left: 0;

}

.services-list__link {
	color: #FFF;
	font-family: nunito-regular;
	font-size: 14px;
}

.new {
	padding: 2px 10px;
	border-radius: 4px;
	background: #FFF;
	color: #1A3E3E;
	font-family: nunito-bold;
	font-size: 12px;
	text-transform: lowercase;
	margin-left: 18px;
}

.importantly {}

.importantly__title {
	margin-bottom: 20px;
}


.importantly-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.importantly-list__item {
	padding-left: 18px;
	list-style-type: none;
	position: relative;
}

.importantly-list__item::before {
	content: '';
	position: absolute;
	background-image: url('../svg/list-style.svg');
	background-repeat: no-repeat;
	width: 10px;
	height: 16px;
	left: 0;

}

.importantly-list__link {
	color: #FFF;
	font-family: nunito-regular;
	font-size: 14px;
}

.privacy {
	padding: 33px 0;
	background-color: #18121E;
}

.privacy__link {
	display: block;
	text-align: center;
	color: #FFF;
	font-family: nunito-semibold;
	font-size: 14px;
	text-decoration-line: underline;
}